/* https://purecss.io/layouts/ - layout git source: https://github.com/pure-css/pure/tree/master/site/static/layouts/blog */
body {
    background-color: #5AA9E6;
    margin: auto;
    padding: 100px;

    font-family: 'Nova Mono', monospace;
    font-size: 25px;

    color: #FFE45E; /*text color - either white or black or yellow*/
    text-align: center;

}

.button {
    border-radius: 25px;
    padding: 10px;
}

.logo {
    border-style: solid;
    border-color: hsl(0, 100%, 50%); /* red */
}