<!--this is the welcome page-->
{% extends "style.html" %}

{% block head %} <p padding="0px" style="text-decoration: underline; text-align: right;">Log Out</p> {% endblock %}

{% block body %}
<h2 class="card" style="font-size: 70px; padding: 5px;">RECYCLABLE?</h2>
<!--redirect /live if start button is clicked-->
<form method="post" action="/live">
    <input type="submit" value="start" class="button" name="start" />
</form>

<!--redirect user to another page after getting user's location-->
<p>Not able to recycle by yourself?</p>
<p>Don't worry, we got you covered!</p> 
<p>Send it to the nearest recycling center.</p>

<form method="post" action="/location_search">
    <input type="submit" value="search nearby recycling centers" class="button" name="search" />
</form>
{% endblock %}