{% extends "style.html" %}

{% block head %} 
  <p padding="0px" style="text-decoration: underline; text-align: right;">Log Out</p> 
  <!--Back button to redirect back to home page (index.html)-->
  <form method="get" action="/">
    <input style="position: fixed; top: 20px; left: 20px;"
        type="submit" value="Back" class="button" name="back_button" />
  </form>
{% endblock %}

{% block body %}
  <h3>This year, you have scanned 42 times. Way to go!</h3>
  <!--put the video in this space-->
  <img id="video" src="{{ url_for('video_feed') }}" height="80%" />


  <form method="post" action="/load">
    <input type="submit" value="Recycle!" class="button" name="start" />
  </form>



  <!--or search results manually-->
  <form method="post" action="/item_manual_search" id="manual">
    <input type="text" id="input_item" name="input_item" placeholder="Search Manually">
    <input type="submit" value="Enter" class="button" name="enter_button" />
  </form>
{% endblock %}