<!--open camera frame and query results at the same time-->
{% extends "style.html" %}

{% block head %} {% endblock %}

{% block body %}
    <div style="text-align:left">
        <form method="get" action="/live">
            <input style="top: 20px; left: 20px;"
                type="submit" value="Back" class="button" name="back_button" />
        </form>
        <br>
        {% for image in image_suggestions %}
        <div>
            <h2><a style="text-decoration:none;" href='{{ image["source"]["page"] }}'>{{ image['source']['name'] }}</a></h2>
            <p>{{ image['source']['title'] }}</p>
            <a href='{{ image["thumbnail"]["url"] }}'>
                <img src='{{ image["thumbnail"]["url"] }}' alt="image">
            </a>
        </div> 
        <br>
        {% endfor %}
        <button class="button">Load More</button>
    </div>
{% endblock %}