<!--open camera frame and query results at the same time-->
{% extends "style.html" %}

{% block head %} {% endblock %}

{% block body %}
    <div style="text-align:left;">
        <form method="get" action="/live">
            <input style="top: 20px; left: 20px;"
                type="submit" value="Back" class="button" name="back_button" />
        </form>
        <br>
        {% for image in image_suggestions %}
            <div class="card">
                <!-- Image -->
                <div class="card__cover">
                    <a href='{{ image["thumbnail"]["url"] }}'>
                        <img class="image" src='{{ image["thumbnail"]["url"] }}' alt="image">
                    </a>
                </div>
                <!-- Title and Content -->
                <div class="card__content">
                    <h2><a style="text-decoration:none;" href='{{ image["source"]["page"] }}'>{{ image['source']['name'] }}</a></h2>
                    <p>{{ image['source']['title'] }}</p>
                </div>
                <a style="text-decoration:none; color: #FFE45E;" href='{{ image["source"]["page"] }}'>...read more</a>
            </div>
        <br>
        {% endfor %}
    </div>
    <button class="button">Load More</button>
{% endblock %}