<!--show a list of nearby location centers-->

{% extends "style.html" %}

{% block head %} {% endblock %}

{% block body %}
<div>
    <h2>Recycling Centers Nearby</h2>
</div>
<!--Back button to redirect back to home page (index.html)-->
<form method="get" action="/">
    <input style="position: fixed; top: 20px; left: 20px;"
        type="submit" value="Back" class="button" name="back_button" />
</form>
<br>
<div>
    <style>
        
    </style>
    <input type="text" id="city" name="city" placeholder="City">
    <input type="text" id="state" name="state" placeholder="State">
    <button class="button">Search</button>
</div>

<!--to be modified for design and formatting-->
    {% for key, value in location_examples.items() %}
    <div>
        <p><a href='{{ value["website"] }}'>{{key}}</a></p>
        <p>{{ value["address"] }}</p>
        <p><i class="fa fa-automobile" style="font-size:24px"></i>  {{ value["distance"] }}</p>
    </div>
    {% endfor %}

<!--load more locations-->
<button class="button">Load More</button>
{% endblock %}